:root {
  --primary-color: rgb(30, 140, 160);
  --secondary-color: rgb(114, 26, 26);
  --size-unit: 64px;
  --animation-time: 300ms;
  --explosions-animation-time: 600ms;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  font-weight: bold;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(24, 28, 32);
  position: relative;
}

.information {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-size: 32px;
  z-index: 2;
  position: relative;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgb(24, 28, 32);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal__text {
  font-size: 42px;
  text-align: center;
}

.modal__button {
  padding: 30px 15px;
  background-color: transparent;
  border: 3px solid var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  font-size: 42px;
  margin-top: 20px;
  color: var(--primary-color);
  outline: none;
  transition: box-shadow 0.1s ease-in;
}

.modal__button:hover {
  box-shadow: 0px 0px 20px 5px var(--primary-color);
}

.spaceship {
  width: var(--size-unit);
  height: 160px;
  background-image: url("./images/css_sprites.png");
  animation: move 1000ms steps(7) infinite;
  position: absolute;
}

.enemy {
  width: var(--size-unit);
  height: var(--size-unit);
  background-image: url("./images/enemy-teeth.png");
  position: fixed;
  z-index: 1;
}

.enemy--big {
  width: calc(var(--size-unit) * 1.9);
  height: calc(var(--size-unit) * 2);
  background-image: url("./images/enemy-big-teeth.png");
  position: fixed;
}

.explosion {
  width: var(--size-unit);
  height: var(--size-unit);
  background-image: url("./images/explosion.png");
  animation: move-17 var(--explosions-animation-time) steps(17) forwards;
  position: fixed;
}

.explosion--big {
  width: calc(var(--size-unit) * 2);
  height: calc(var(--size-unit) * 2);
  background-image: url("./images/explosion-big.png");
  animation: move-34 var(--explosions-animation-time) steps(17) forwards;
  position: fixed;
}
.missile {
  background-size: cover;
  width: 12px;
  height: 24px;
  background-image: url("./images/missile.png");
  position: absolute;
}

@keyframes move {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -512px;
  }
}

@keyframes move-17 {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: calc(var(--size-unit) * -17);
  }
}

@keyframes move-34 {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: calc(var(--size-unit) * -34);
  }
}

.hide {
  display: none;
}

.hit {
  background-color: var(--secondary-color);
}
